<footer>
  <div class="container row flow-text">
    <div class="col s6 right-align">
      <a href="https://github.com/{{ site.github_username | cgi_escape | escape }}">
	My GitHub
      </a>
    </div>
      
      <div class="col s1 center-align">
	|
      </div>

      <div class="col s5 left-align">
	<a href="https://twitter.com/{{ site.twitter_username | cgi_escape | escape }}">
	  My Twitter
	</a>
      </div>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js">
</script>
