<header>
  <!-- {%- assign default_paths = site.pages | map: "path" -%} -->
  {%- assign page_paths = site.header_pages -%}
  <div>
  <div class="row" style="width:80%;">
    <div class="col s3">
      <a href="{{ '/' | relative_url }}" style="color:#424242">
	<h4>{{ site.title | escape }}</h5>
      </a>
    </div>

    <div class="col s6"></div>

    <div class="col s3">
      <h5>
	{%- assign prefix = "" -%}
	{%- if page_paths -%}
	    {%- for path in page_paths -%}
		    {%- assign my_page = site.pages | where: "path", path | first -%}
	{%- if my_page.title -%}
	<span>

		    {{prefix}}
			<a href="{{ my_page.url | relative_url }}" style="color:#bdbdbd">
			  {{ my_page.title | escape }}
			</a>
			</span>
		    {%- endif -%}
		    {%- assign prefix = ";" -%}
	    {%- endfor -%}
	{%- endif -%}
	</h5>
    </div>
  </div>
</header>
